Pip*
.idea
config.ini
/Flask/__pycache__
bridge/.vs/VSWorkspaceState.json
bridge/.vs/slnx.sqlite
bridge/.vs/PythonSettings.json
bridge/.vs/ProjectSettings.json
bridge/.vs/bridge/v17/.wsuo
bridge/.vs/bridge/FileContentIndex/read.lock
bridge/.vs/bridge/FileContentIndex/c6ac1327-044e-488f-b7e4-b5ce2182a324.vsidx
bridge/.vs/bridge/FileContentIndex/0369908e-fd73-4fce-b928-89c5d088f02e.vsidx
Flask/.vs/Flask/FileContentIndex/1296497c-db7f-49e3-b674-cf6688dafda9.vsidx
Flask/.vs/Flask/FileContentIndex/207b4a2d-84b5-4283-a03b-8d466e05f13e.vsidx
Flask/.vs/Flask/FileContentIndex/da40b054-e009-43c0-ae92-e27170c80070.vsidx
Flask/.vs/Flask/FileContentIndex/ebb41537-2bf6-4449-8390-5994c50d4800.vsidx
Flask/.vs/Flask/FileContentIndex/read.lock
Flask/.vs/Flask/v17/.wsuo
Flask/.vs/ProjectSettings.json
Flask/.vs/slnx.sqlite
Flask/.vs/VSWorkspaceState.json
