Pip*
.idea
config.ini
/Flask/__pycache__
bridge/.vs/VSWorkspaceState.json
bridge/.vs/slnx.sqlite
bridge/.vs/PythonSettings.json
bridge/.vs/ProjectSettings.json
bridge/.vs/bridge/v17/.wsuo
bridge/.vs/bridge/FileContentIndex/read.lock
bridge/.vs/bridge/FileContentIndex/c6ac1327-044e-488f-b7e4-b5ce2182a324.vsidx
bridge/.vs/bridge/FileContentIndex/0369908e-fd73-4fce-b928-89c5d088f02e.vsidx
Flask/.vs/*
Flask/.vs/Flask/FileContentIndex/1296497c-db7f-49e3-b674-cf6688dafda9.vsidx
Flask/.vs/Flask/FileContentIndex/207b4a2d-84b5-4283-a03b-8d466e05f13e.vsidx
Flask/.vs/Flask/FileContentIndex/da40b054-e009-43c0-ae92-e27170c80070.vsidx
Flask/.vs/Flask/FileContentIndex/ebb41537-2bf6-4449-8390-5994c50d4800.vsidx
Flask/.vs/Flask/FileContentIndex/read.lock
Flask/.vs/Flask/v17/.wsuo
Flask/.vs/ProjectSettings.json
Flask/.vs/slnx.sqlite
Flask/.vs/VSWorkspaceState.json
telegram/.vs/VSWorkspaceState.json
telegram/.vs/telegram/v17/.wsuo
telegram/.vs/telegram/FileContentIndex/read.lock
telegram/.vs/telegram/FileContentIndex/5be779ff-3049-482d-9ecd-4cd9fd2ce44e.vsidx
telegram/.vs/telegram/FileContentIndex/2fbd64a1-3fb8-4453-bc4b-4d0bb138c99c.vsidx
telegram/.vs/slnx.sqlite
telegram/.vs/PythonSettings.json
telegram/.vs/ProjectSettings.json
Flask/config.txt
Flask/config.txt
telegram/.vs/telegram/FileContentIndex/d9292117-b98e-4535-8faa-2bdd299054c8.vsidx
Flask/config.txt
telegram/.vs/telegram/FileContentIndex/a090f2e0-5db6-4e5b-b915-60ff95ae3268.vsidx
telegram/.vs/telegram/FileContentIndex/2bf771a4-ae9f-4360-a2a8-1a194c581536.vsidx
telegram/__pycache__/utilities.cpython-310.pyc
telegram/.vs/telegram/FileContentIndex/90bd5f2f-8116-48ed-8748-3bb32001c3bc.vsidx
telegram/.vs/telegram/FileContentIndex/8d0c5ce9-178a-4a44-a117-40352a0c8f80.vsidx
telegram/.vs/telegram/FileContentIndex/5173aa16-d38c-4c73-abfe-c412b160327f.vsidx
telegram/.vs/telegram/FileContentIndex/4757a430-7870-47bc-8a96-0b1eff40779a.vsidx
Flask/config.txt
Flask/config.txt
telegram/.vs/telegram/FileContentIndex/fd160db4-bcf0-4ec6-b149-fbf8679abea3.vsidx
telegram/.vs/telegram/FileContentIndex/da10ad19-cb3e-45ff-838f-0515ea00a8f6.vsidx
telegram/.vs/telegram/FileContentIndex/accc3d6a-07ce-4e8f-956e-239c65368c9e.vsidx
telegram/.vs/telegram/FileContentIndex/7e91b34a-f5c6-4562-a976-53e5fae456d4.vsidx
telegram/.vs/telegram/FileContentIndex/0af80f4f-fcce-4e38-8ffa-f08cfed9b6ae.vsidx
telegram/.vs/telegram/FileContentIndex/30f2d76c-bee8-4082-a07a-6a38351fef6e.vsidx
telegram/.vs/telegram/FileContentIndex/6818d680-72c9-4811-8985-2a1692e4f580.vsidx
telegram/.vs/telegram/FileContentIndex/bcd795eb-de52-4755-b42b-da8c1a7da6e2.vsidx
telegram/.vs/telegram/FileContentIndex/86b61cfc-2021-4596-8ecb-f7b3c589b260.vsidx
telegram/.vs/telegram/FileContentIndex/ac7ca2cc-6c8b-4fce-8acd-47cf90fbe98e.vsidx
telegram/.vs/telegram/FileContentIndex/d0570ca0-d945-4072-89bd-86c2f31c3072.vsidx
telegram/.vs/telegram/FileContentIndex/ebb92d18-4801-492d-957f-75bb787da0d3.vsidx
Flask/config.txt
telegram/.vs/telegram/FileContentIndex/81caf0eb-bb34-4e39-bac3-1459565c289c.vsidx
telegram/.vs/telegram/FileContentIndex/8b65b85e-bdb4-4b8b-9e01-bc14379eabf1.vsidx
telegram/.vs/telegram/FileContentIndex/b6cf1659-6d3b-4e6a-9f70-0436d84f61ee.vsidx
telegram/.vs/telegram/FileContentIndex/ed4c2d69-92ad-4dad-ab8d-61dde503b42f.vsidx
telegram/.vs/telegram/FileContentIndex/00e9b250-d0e7-4324-af83-42ca73207cd4.vsidx
telegram/.vs/telegram/FileContentIndex/0a417383-6b2d-46d0-b8ca-fce058ff2203.vsidx
telegram/.vs/telegram/FileContentIndex/222a22ee-ff43-4eeb-b5b7-f16fcef639e5.vsidx
telegram/.vs/telegram/FileContentIndex/b0dfa3a4-66fd-4fd1-b22d-2363400b77cf.vsidx
Flask/config.txt
telegram/.vs/telegram/FileContentIndex/1eb5a9b5-8a7a-4941-b28a-a0feacfab2e0.vsidx
telegram/.vs/telegram/FileContentIndex/2ee0a907-bc86-4445-838d-bc8450ea5fcc.vsidx
telegram/.vs/telegram/FileContentIndex/6ef0f930-863f-47f2-ae6d-375c31549f43.vsidx
telegram/.vs/telegram/FileContentIndex/f82b1949-a656-4f47-ac1c-95d86f7e1fea.vsidx
telegram/.vs/telegram/FileContentIndex/c115dfe8-06aa-44b2-b15f-24964e81c989.vsidx
